#color-palette, #pixel-board{
    width:fit-content;
}
.color, .pixel { 
    border: 1px solid black;
    width: 40px;
    height: 40px;
    display: inline-block;
    margin-left: 5px;  
}
.pixel {
    margin-bottom: -5px;
    margin-left: -1px;
    background-color: white;
}
#clear-board{
    margin-bottom: 10px;
    margin-left: 10px;
}
